.app-container {
  margin: 5% 20% 5% 20%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 200px);
  row-gap: 2%;
  column-gap: 2%;
}
.search-box {
  height: 20px;
  margin: 0;
  padding-right: 30px;
  width: 90.5%;
}

.searchIcon {
  position: absolute;
  bottom: 2px;
  right: 5px;
  width: 40px;
  height: 24px;
}

.loadmorediv {
  margin-top: 5%;
  margin-left: 30%;
}
.btnstyle {
  border-radius: 10px;
  padding: 10px 24px;
  background-color: #99ffff;
  transform: translateX(100%);
}

.uppercontainer {
  position: "relative";
  padding: "0 0 0 20px";
  direction: "ltr";
  width: "60%";
  margin: "1% 15% 1% 15%";
}
